In [5]:
import pandas as pd
import numpy as np

file = "acs2015_census_tract_data.csv"
df = pd.read_csv(file, encoding="ISO-8859-1")
df.groupby("State")
df.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [10]:
clean_data = df[["State", "TotalPop","Men","Women","Hispanic","White","Black","Native",
          "Asian","Pacific","Income","IncomePerCap","Poverty",
         "Professional","Service","Office","Construction","Production",
         "Employed","PrivateWork","PublicWork","SelfEmployed","FamilyWork","Unemployment"]]
clean_data.head()

,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Service,Office,Construction,Production,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,Alabama,1948,940,1008,0.9,87.4,7.7,0.3,0.6,0.0,...,17.0,21.3,11.9,15.2,943,77.1,18.3,4.6,0.0,5.4
1,Alabama,2156,1059,1097,0.8,40.4,53.3,0.0,2.3,0.0,...,24.7,21.5,9.4,22.0,753,77.0,16.9,6.1,0.0,13.3
2,Alabama,2968,1364,1604,0.0,74.5,18.6,0.5,1.4,0.3,...,24.9,22.1,9.2,12.4,1373,64.1,23.6,12.3,0.0,6.2
3,Alabama,4423,2172,2251,10.5,82.8,3.7,1.6,0.0,0.0,...,20.8,27.0,8.7,16.4,1782,75.7,21.2,3.1,0.0,10.8
4,Alabama,10763,4922,5841,0.7,68.5,24.8,0.0,3.8,0.0,...,14.2,18.2,2.1,15.8,5037,67.1,27.6,5.3,0.0,4.2

In [23]:
clean_data.groupby("State")
clean_data.head()

,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Service,Office,Construction,Production,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,Alabama,1948,940,1008,0.9,87.4,7.7,0.3,0.6,0.0,...,17.0,21.3,11.9,15.2,943,77.1,18.3,4.6,0.0,5.4
1,Alabama,2156,1059,1097,0.8,40.4,53.3,0.0,2.3,0.0,...,24.7,21.5,9.4,22.0,753,77.0,16.9,6.1,0.0,13.3
2,Alabama,2968,1364,1604,0.0,74.5,18.6,0.5,1.4,0.3,...,24.9,22.1,9.2,12.4,1373,64.1,23.6,12.3,0.0,6.2
3,Alabama,4423,2172,2251,10.5,82.8,3.7,1.6,0.0,0.0,...,20.8,27.0,8.7,16.4,1782,75.7,21.2,3.1,0.0,10.8
4,Alabama,10763,4922,5841,0.7,68.5,24.8,0.0,3.8,0.0,...,14.2,18.2,2.1,15.8,5037,67.1,27.6,5.3,0.0,4.2

In [30]:
population = clean_data.groupby(["State"]).sum()["TotalPop"]
men = clean_data.groupby(["State"]).sum()["Men"]
women = clean_data.groupby(["State"]).sum()["Women"]
hispanic = clean_data.groupby(["State"]).mean()["Hispanic"]
white = clean_data.groupby(["State"]).mean()["White"]
black = clean_data.groupby(["State"]).mean()["Black"]
native = clean_data.groupby(["State"]).mean()["Native"]
asian = clean_data.groupby(["State"]).mean()["Asian"]
pacific = clean_data.groupby(["State"]).mean()["Pacific"]
income = clean_data.groupby(["State"]).mean()["Income"]
incomepercap = clean_data.groupby(["State"]).mean()["IncomePerCap"]
poverty = clean_data.groupby(["State"]).mean()["Poverty"]
professional = clean_data.groupby(["State"]).mean()["Professional"]
service = clean_data.groupby(["State"]).mean()["Service"]
office = clean_data.groupby(["State"]).mean()["Office"]
construction = clean_data.groupby(["State"]).mean()["Construction"]
production = clean_data.groupby(["State"]).mean()["Production"]
employed = clean_data.groupby(["State"]).mean()["Employed"]
privatework = clean_data.groupby(["State"]).mean()["PrivateWork"]
publicwork = clean_data.groupby(["State"]).mean()["PublicWork"]
selfemployed = clean_data.groupby(["State"]).mean()["SelfEmployed"]
familywork = clean_data.groupby(["State"]).mean()["FamilyWork"]
unemployment = clean_data.groupby(["State"]).mean()["Unemployment"]

state_summary = pd.DataFrame({"TotalPop":population,
                              "Men":men,
                              "Women":women,
                              "Hispanic":hispanic,
                              "White":white,
                              "Black":black,
                              "Native":native,
                              "Asian":asian,
                              "Pacific":pacific,
                              "Income":income,
                              "IncomePerCap":incomepercap,
                              "Poverty":poverty,
                              "Professional":professional,
                              "Service":service,
                              "Office":office,
                              "Construction":construction,
                              "Production":production,
                              "Employed":employed,
                              "PrivateWork":privatework,
                              "PublicWork":publicwork,
                              "SelfEmployed":selfemployed,
                              "FamilyWork":familywork,
                              "Unemployment":unemployment})
state_summary.head()

,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,...,Service,Office,Construction,Production,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
State,,,,,,,,,,,,,,,,,,,,,
Alabama,4830620,2341093,2489527,3.751616,61.878656,31.252976,0.453231,1.050255,0.034354,43296.358603,...,18.286638,23.812766,10.229362,17.380511,1712.383573,78.274468,16.264085,5.260085,0.200596,10.686723
Alaska,733375,384160,349215,5.909581,60.910180,2.848503,16.391018,5.450299,1.058683,70354.743902,...,17.954217,21.990964,13.470482,11.663253,2102.443114,65.080723,27.586145,7.121687,0.209639,9.268072
Arizona,6641928,3299088,3342840,29.565921,57.120000,3.850987,4.355066,2.876579,0.167632,54207.820955,...,20.442442,26.056832,9.813069,9.877096,1843.647444,78.244752,15.364818,6.225149,0.165941,9.469901
Arkansas,2958208,1451913,1506295,6.215474,71.137810,18.968759,0.522920,1.142336,0.146861,41935.633968,...,17.985693,23.384088,11.154891,17.531241,1831.021866,76.176204,17.080730,6.535620,0.206423,8.529489
California,38421464,19087135,19334329,37.291875,40.215789,5.677396,0.405292,13.052234,0.351410,67264.782303,...,19.192177,23.656127,9.582901,11.403417,2140.543627,77.245901,13.978921,8.592965,0.182876,10.191290

In [31]:
state_summary.to_csv("project_data.csv",
                  encoding="utf-8", index=False, header=True)